body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
#related{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
#related .related_box{
    display: flex;
    margin: 10px;
    background-color: aqua;
    flex-direction: column;
    margin: 20px;
}
